  <section class="hero is-info is-medium is-bold">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="../">
              <img src="http://bulma.io/images/bulma-type-white.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active" href="/">
                Inicio
              </a>
              <span class="navbar-item">
                <a class="button is-white is-outlined is-small" href="https://icalderoncaceres.github.io" target="_blank">
                  <span class="icon">
                    <i class="fa fa-github"></i>
                  </span>
                  <span>Autor</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Recursos de desarrollo que vale la pena invertirle tiempo
        </h1>
        <h2 class="subtitle">
          La presente es una colección de recursos informáticos que considero interesantes, montado en un proyecto de 
          <a href="https://angular.io" target="_blank">angular4</a> con <a href="https://bulma.io" target="_blank">bulma</a>
        </h2>
      </div>
    </div>

  </section>